//  Settings
//  ========

$color-light-saturation: 93%;

//  Colors
//  ======

$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

//  Pallete
//  -------

$alt: #2AFD40;
// $accent: ;

//  Texts
//  -----

$font-color:         #2a2a2a !default;


//  Backgrounds
//  -----------


//  Links
//  -----

$link-color:         #0388a6 !default;
$link-hover-color:   #009ce0 !default;
$link-focus-color:     false !default;
$link-active-color:    false !default;
$link-visited-color:   false !default;